/*以下为心形div*/
.love_num{
    text-align:center;
    margin:0 auto;
}

.heart{ cursor:pointer;width:40px;height:20px;position:relative; float: right; relative(相对定位) 对象不可层叠、不脱离文档流，参考自身静态位置通过 top,bottom,left,right 定位，并且可以通过z-index进行层次分级 
}
/* after 伪元素在元素之前添加内容*/
.heart:before{
    content:" ";
    border-radius:12.5px 12.5px 0 0;/* 正方形的内切圆的半径等于正方形边长的一半 */
    width:10px; height:15px;/* 长方形 */
    background:red;
    -moz-transform: rotate(-45deg);/* 逆时针旋转45°*/
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position:absolute;/* absolute(绝对定位) 脱离文档流，通过 top,bottom,left,right 定位 */
    left:21px;}

/* after 伪元素在元素之后添加内容*/
.heart:after{
    content:" ";
    width:10px; height:15px;
    background:red;
    border-radius:12.5px 12.5px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position:absolute;
    left:25px;top:0px;
}
