<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static "css/followdream.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/followdream.js" %}"></script>
    <title>Follow your dream</title>
</head>
<body>
    <div class='card-holder'>
        <div class='card-wrapper'>
            <a href='/createdream/'>
                <div class='card bg-03'>
                    <span class='card-content'>Create a dream</span>
                </div>
            </a>
        </div>
        <div class='card-wrapper'>
            <a href='/list/'>
                <div class='card bg-04'>
                    <span class='card-content'>Go my blog</span>
                </div>
            </a>
        </div>
        <div class='card-wrapper'>
            <a href='/aboutme/'>
                <div class='card bg-05'>
                    <span class='card-content'>About me</span>
                </div>
            </a>
        </div>
    </div>

    <div id="main">
        {% for dr in dreams%}
            <div class="box">
            <div class="pic">
                <!-- <img src="{% static "{{dr.pic_name}}"  %}"> -->
                {% if dr.pic_name%}
                <!-- <img src="http://127.0.0.1:8000/upload/{{dr.pic_name}} "> -->
                <img src="http://www.strong-ge.com/upload/{{dr.pic_name}} ">
                {%endif%}
                <div class="content">
                    <div>{{dr.content}}</div>
                </div>
                <div class="info">
                    <div class="label">{{dr.name}}
                        <div class="f_right">
                            {% ifequal dr.ip.ip_address ip%}
                            <div class="heartfull"></div>
                            {%else%}
                            <div class="heart"></div>
                            {%endifequal%}
                            <div class="love_num" did="{{dr.id}}">{{dr.love_num}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        $(".heart").click(function(){
            var $th=$(this);
            var dream_id=$(this).next().attr("did");
            var $old=$(this).next();
            var old_love_num=$(this).next().html()//get old_love_num
            var ip={{ip}};
             $.ajax({
                type: "POST",
                url: "support_it",
                data:{dream_id:dream_id,ip:ip,old_love_num:old_love_num},
                dataType: "json",
                success: function(data){
                    if(data['status']==0){
                        //love_num add one
                        var new_love_num=parseInt(old_love_num)+1;
                        $old.html(new_love_num);
                        $th.removeClass("heart");
                        $th.addClass("heartfull");
                    }else{
                        alert("you already support it");
                        $th.removeClass("heart");
                        $th.addClass("heartfull");
                    }
                }
             });
        });
    });
</script>
</html>