<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="strong-ge,强哥,strong-ge.com,博客">
    <meta name="description" content="coding,coding,always coding">
    {% load staticfiles %}
    <link rel="stylesheet"  type="text/css"  href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet"  type="text/css"  href="{% static "css/blog.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Montserrat:700' rel='stylesheet' type='text/css'>
    <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
    <title>strong-ge的个人博客</title>
</head>
<body>
<div id="wrapper">
    <h1>Strong-ge</h1>
    <h2>I Code &amp; but I never cold&nbsp;</h2>
    <p><a href="default.html">Blog</a></p>
    <p><a href="" target="_blank">Github</a></p>
    <p><a href="http://www.baidu.com" target="_blank">微博</a></p>
</div>
</body>
</html>